<div class="container file">
    <div class="row file-header">
        <div class="col-md-10">
            <h4 data-toggle="tooltip" data-placement="top" title="{{ file.path }}">{{ file.repository.name }}/{{ file.path }}</h4>
        </div>
        <div class="col-md-1">
            <!-- should have a link to the repository -->
            <!--<a href="{ url watch_repo repo.id }">-->
            <a href="{{ file.repository.url }}" target="_blank"><h4><span title="View the Repository this file belongs to." class="octicon octicon-repo cursor-pointer"></span></h4></a>
            <!--</a>-->
        </div>
        <div class="col-md-1">
                {% if profile_user in file.savers.all %}
                    <h4 title="Un-save file" id="save-status-{{ file.id }}" data-item-id="{{ file.id }}" class="glyphicon glyphicon-floppy-saved save-status cursor-pointer"></h4>
                {% else %}
                    <h4 title="Save file" id="save-status-{{ file.id }}" data-item-id="{{ file.id }}" class="glyphicon glyphicon-floppy-disk save-status cursor-pointer"></h4>
                {% endif %}
        </div>
    </div>
    <!-- end repository header top thingy -->

    <div class="row file-file-view">
        <div class="col-md-12 file-file">
            {% include 'codebook/file-contents.html' %}
        </div>
    </div>
    <!-- end file view -->
</div>