{% load staticfiles %}
<script src="{% static "js/bootstrap-rating-input.min.js" %}" type="text/javascript"></script>
<!-- start repository list row-->
<div class="row">
<div class="col-md-12">


<!-- TODO: this is temporarily here to show static usage -->

<ol class="file-list">
    <li>
        <div class="container file">
            <div class="row file-header">
                <div class="col-md-2">
                    <h4>Filename.txt</h4>
                </div>
                <div class="col-md-1">
                    <h4 class="glyphicon glyphicon-book"></h4>
                </div>
                <div class="col-md-1">
                    <h4 class="glyphicon glyphicon-floppy-disk"></h4>
                </div>
                <div class="col-md-5">

                </div>
                <div class="col-md-2">
                    <h4>creator</h4>
                </div>
                <div class="col-md-1">
                    <h4>{% include 'codebook/get-profpic.html' %}</h4>
                </div>
            </div>


            <div class="row file-file-view">
                <div class="col-md-12 file-file">
                    this is where the code will be
                </div>
            </div>


            <div class="row tags">
                <div class="col-md-10">
                    <div class="btn-group-sm">
                        <ol class="tag-list">


                            <li>
                                <button class="btn btn-sm tag-btn">
                                    <span class="tag-text">Tag 1</span>
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-sm tag-btn">
                                    <span class="tag-text">Tag 2</span>
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-sm tag-btn">
                                    <span class="tag-text">Tag 3</span>
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="col-md-2 tag-list">
                    <button type="submit" class="btn btn-sm control-btn">Add Tag</button>
                </div>
            </div>

            <div class="row ratings">
                <div class="col-md-2">
                    <h4>Difficulty</h4>
                </div>
                <div class="col-md-3">
                    <div class="stars starrr" data-rating="0"></div>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <h4>Documentation</h4>
                </div>
                <div class="col-md-3">
                    <div class="stars starrr" data-rating="0"></div>
                </div>
            </div>

            <ol class="comment-list">
                <li>
                    <div class="row comment">
                        <div class="col-md-1">
                            <h5>{% include 'codebook/get-profpic.html' %}</h5>
                        </div>
                        <div class="col-md-2">
                            <h5>username</h5>
                        </div>
                        <div class="col-md-1 col-md-offset-7">
                            <h5 class="glyphicon glyphicon-ok"></h5>
                        </div>
                        <div class="col-md-10 comment-text">
                            <h6>
                                this is the text from a comment this is the text from a comment this is the
                                text
                                from a
                                comment this is the text from a comment
                            </h6>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row comment">
                        <div class="col-md-1">
                            <h5>{% include 'codebook/get-profpic.html'%}</h5>
                        </div>
                        <div class="col-md-2">
                            <h5>username_2</h5>
                        </div>
                        <div class="col-md-1 col-md-offset-7">
                            <h5 class="glyphicon glyphicon-ok"></h5>
                        </div>
                        <div class="col-md-10 comment-text ">
                            <h6>
                                this is the text from a comment this is the text from a comment g s s s s s
                                this is
                                the
                                text from a comment this is the text from a comment
                            </h6>
                        </div>
                    </div>
                </li>
            </ol>

            <div class="row file-footer">
                <form role="form">
                    <div class="col-md-9 col-lg-offset-1">
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-1">
                        <input type="submit" class="btn control-btn" value="Comment">
                    </div>
                </form>
            </div>
        </div>
    </li>
</ol>



<!-- TODO: everything above this comment and below the static usage comment should be deleted eventually -->


{% for file in files %}
    <ol class="file-list" id="file-list{{ file.id }}">
        <li id="file{{ file.id }}">
            <div class="container file">
                <div class="row file-header">
                    <div class="col-md-3">
                        <h4>{{ file.get_name }}</h4>
                    </div>
                    <div class="col-md-1">
                        <!-- should have a link to the repository -->
                        <!--<a href="{ url watch_repo repo.id }">-->
                        <h4 class="glyphicon glyphicon-book"></h4>
                        <!--</a>-->
                    </div>
                    <div class="col-md-1">
                        {% if file.is_saved == 'true' %}
                            <h4 class="glyphicon glyphicon-floppy-saved"></h4>
                        {% else %}
                            <h4 class="glyphicon glyphicon-floppy-disk"></h4>
                        {% endif %}
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-2">
                        <h4>{{ file.get_creator }}</h4>
                    </div>
                    <div class="col-md-1">
                        <!-- TODO: setup profile images -->
                        <h4>{% include 'codebook/get-profpic.html' with id=repo.creator.user.id %}</h4>
                    </div>
                </div>
                <!-- end repository header top thingy -->

                <div class="row file-file-view">
                    <div class="col-md-12 file-file">
                        this is where the code will be
                    </div>
                </div>
                <!-- end file view -->

                <div class="row tags">
                    <div class="col-md-10">
                        <div class="btn-group-sm">
                            {% for tag in repo.tags %}
                                <ol class="tag-list" id="tag-list{{ repo.id }}">
                                    <!-- endorsed tags have x's next to them (toggle to unendorse) unendorsed tags have check -->
                                    <li id="tag{{ tag.id }}">
                                        <button class="btn btn-sm tag-btn">
                                            <span class="tag-text">{{ tag.text }}</span>
                                            {% if tag.is_endorsed == 'true' %}
                                                <span class="glyphicon glyphicon-ok"></span>
                                            {% else %}
                                                <span class="glyphicon glyphicon-remove"></span>
                                            {% endif %}
                                        </button>
                                    </li>
                                </ol>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-1 tag-list">
                        <button type="submit" class="btn btn-sm control-btn">Add Tag</button>
                    </div>
                </div>
                <!-- end tags -->
                        <!-- TODO get ratings working (make average read only)-->
            <!-- begin ratings -->
            <div class="row ratings">
                <div class="col-md-2">
                    <h4>Difficulty</h4>
                </div>
                <div class="col-md-3">
                    <div class="stars starrr" data-rating="0"></div>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <h4>Documentation</h4>
                </div>
                <div class="col-md-3">
                    <div class="stars starrr" data-rating="0"></div>
                </div>
            </div>

                {% for comment in file.comments.all %}
                    <ol class="comment-list" id="comment-list{{ file.id }}">
                        <li id="comment{{ comment.id }}">
                        <li>
                            <div class="row comment">
                                <div class="col-md-1">
                                    <h5>{% include 'codebook/get-profpic.html' with id=comment.profile_user.user.id %}</h5>
                                </div>
                                <div class="col-md-2">
                                    <h5>{{ comment.profile_user.get_username }}</h5>
                                </div>
                                <div class="col-md-1 col-md-offset-7">
                                    <a href="{ url like_comment 0 }">
                                        {% if profile_user in comment.likers.all %}
                                            <h5 class="glyphicon glyphicon-remove"></h5>
                                        {% else %}
                                            <h5 class="glyphicon glyphicon-ok"></h5>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="col-md-10 comment-text">
                                    <h6>{{ comment.text }}</h6>
                                </div>
                            </div>
                        </li>
                    </ol>
                {% endfor %}

                <!-- end comment list -->

                <div class="row file-footer">
                    <form method="POST" role="form" action="{% url 'comment_file' source file.file_id %}">
                        {% for field in comment_form.visible_fields %}
                        <div class="col-md-9 col-lg-offset-1">
                            {{field}}
                        </div>
                        {% endfor %}
                        <div class="col-md-1">
                            <input type="submit" class="btn control-btn" value="Comment">
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </li>
    </ol>
{% endfor %}
<!-- end repository list -->
</div>
</div>
<!-- end repository list row-->