<div class="file">
    <div class="row file-header">
        <div class="col-md-10">
            <h4>{{ file.path }}</h4>
        </div>
        <div class="col-md-1">
                {% if logged_in_user in file.savers.all %}
                    <h4 title="Un-save file" id="save-status-{{ file.id }}" data-item-id="{{ file.id }}" class="glyphicon glyphicon-floppy-saved save-status cursor-pointer"></h4>
                {% else %}
                    <h4 title="Save file" id="save-status-{{ file.id }}" data-item-id="{{ file.id }}" class="glyphicon glyphicon-floppy-disk save-status cursor-pointer"></h4>
                {% endif %}
        </div>
    </div>
</div>