{% extends "base.html" %}
{% block title %}Codebook: Front Page{% endblock %}

{% block stylesheets %}
    {% load staticfiles %}
{% endblock stylesheets %}

{% block nav-right %}
        {%include 'codebook/signin-signup-buttons.html' %}
{% endblock nav-right %}

{% block search-dropdown %}
{% endblock search-dropdown %}
{% block header %}
        {% include 'codebook/search-panel.html' %}
{% endblock header %}
{% block stream %}
        {% include 'codebook/repository-list.html' %}
{% endblock stream %}
