{% if lang == 'java' %}
    <i class="icon-prog-java"></i>
{% endif %}
{% if lang == 'python' %}
    <i class="icon-prog-python"></i>
{% endif %}
{% if lang == 'c' %}
<i class="icon-prog-c"></i>
{% endif %}
{% if lang == 'javascript' %}
<i class="icon-prog-js02"></i>
{% endif %}
{% if lang == 'ruby' %}
<i class="icon-prog-ruby"></i>
{% endif %}
{% if lang == 'rails' %}
<i class="icon-prog-rails"></i>
{% endif %}
{% if lang == 'node' %}
<i class="icon-prog-nodejs02"></i>
{% endif %}
{% if lang == 'django' %}
<i class="icon-prog-java"></i>
{% endif %}
{% if lang == 'php' %}
<i class="icon-prog-php02"></i>
{% endif %}
{% if lang == 'cplusplus' %}
<i class="icon-prog-cplusplus"></i>
{% endif %}
{% if lang == 'csharp' %}
<i class="icon-prog-csharp"></i>
{% endif %}
{% if lang == 'objc' %}
<i class="icon-prog-objc"></i>
{% endif %}
