{% if lang == 'java' %}
    <i class="icon-prog-java lang-icon" id="lang-icon-{{ lang }}" data-item-id="{{ lang }}" title="Java"></i>
{% elif lang == 'python' %}
    <i class="icon-prog-python lang-icon" id="lang-icon-{{ lang }}" data-item-id="{{ lang }}" title="Python"></i>
{% elif lang == 'c' %}
	<i class="icon-prog-c lang-icon" id="lang-icon-{{ lang }}" data-item-id="{{ lang }}" title="C"></i>
{% elif lang == 'javascript' %}
	<i class="icon-prog-js02 lang-icon" id="lang-icon-{{ lang }}" data-item-id="{{ lang }}" title="JavaScript"></i>
{% elif lang == 'ruby' %}
	<i class="icon-prog-ruby lang-icon" id="lang-icon-{{ lang }}" data-item-id="{{ lang }}" title="Ruby"></i>
{% elif lang == 'rails' %}
	<i class="icon-prog-rails lang-icon" id="lang-icon-{{ lang }}" data-item-id="{{ lang }}" title="Ruby on Rails"></i>
{% elif lang == 'node' %}
	<i class="icon-prog-nodejs02 lang-icon" id="lang-icon-{{ lang }}" data-item-id="{{ lang }}" title="Node.js"></i>
{% elif lang == 'perl' %}
	<i class="icon-prog-perl lang-icon" id="lang-icon-{{ lang }}" data-item-id="{{ lang }}" title="Perl"></i>
{% elif lang == 'php' %}
	<i class="icon-prog-php02 lang-icon" id="lang-icon-{{ lang }}" data-item-id="{{ lang }}" title="PHP"></i>
{% elif lang == 'cplusplus' or lang == 'c++' %}
	<i class="icon-prog-cplusplus lang-icon" id="lang-icon-{{ lang }}" data-item-id="{{ lang }}" title="C++"></i>
{% elif lang == 'csharp' or lang == 'c#' %}
	<i class="icon-prog-csharp lang-icon" id="lang-icon-{{ lang }}" data-item-id="{{ lang }}" title="C#"></i>
{% elif lang == 'objc' %}
	<i class="icon-prog-objc lang-icon" id="lang-icon-{{ lang }}" data-item-id="{{ lang }}" title="Objective C"></i>
{% elif lang == 'css' %}
	<i class="icon-css3-01 lang-icon" id="lang-icon-{{ lang }}" data-item-id="{{ lang }}" title="CSS"></i>
{% else %}
	<i class="icon-orkut lang-icon" id="lang-icon-{{ lang }}" data-item-id="{{ lang }}" title="{{ lang }}"></i>
{% endif %}
