{% if active == 'my_languages' %}
<li class="active" id="my_languages"><a href="{% url 'news' %}">News</a></li>
{% else %}
<li><a href="{% url 'news' %}">My Languages</a></li>
{% endif %}

{% if active == 'watching' %}
<li class="active"><a href="{% url 'watching' %}">Watching</a></li>
{% else %}
<li><a href="{% url 'watching' %}">Watching</a></li>
{% endif %}

{% if active == 'starred' %}
<li class="active"><a href="{% url 'starred' %}">Starred</a></li>
{% else %}
<li><a href="{% url 'starred' %}">Starred</a></li>
{% endif %}

{% if active == 'following' %}
<li class="active"><a href="{% url 'following' %}">Following</a></li>
{% else %}
<li><a href="{% url 'following' %}">Following</a></li>
{% endif %}

{% if active == 'saved' %}
<li class="active"><a href="{% url 'saved' %}">Saved Files</a></li>
{% else %}
<li><a href="{% url 'saved' %}">Saved Files</a></li>
{% endif %}

{% if active == 'profile' %}
<li class="active"><a href="#">Profile</a></li>
{% else %}
<li><a href="#">Profile</a></li>
{% endif %}

{% if active == 'settings' %}
<li class="active"><a href="#"><span class="glyphicon glyphicon-cog"></span></a></li>
{% else %}
<li><a href="#"><span class="glyphicon glyphicon-cog"></span></a></li>
{% endif %}