{% if active == 'news' %}
<li class="active" id="news"><a href="#">News</a></li>
{% else %}
<li><a href="#">News</a></li>
{% endif %}

{% if active == 'watching' %}
<li class="active"><a href="#">Watching</a></li>
{% else %}
<li><a href="#">Watching</a></li>
{% endif %}

{% if active == 'starred' %}
<li class="active"><a href="#">Starred</a></li>
{% else %}
<li><a href="#">Starred</a></li>
{% endif %}

{% if active == 'profile' %}
<li class="active"><a href="#">Profile</a></li>
{% else %}
<li><a href="#">Profile</a></li>
{% endif %}

{% if active == 'settings' %}
<li class="active"><a href="#"><span class="glyphicon glyphicon-cog"></span></a></li>
{% else %}
<li><a href="#"><span class="glyphicon glyphicon-cog"></span></a></li>
{% endif %}