<div class="row">
   <div class="col-md-5 form-inline">
       <label for="language-choice">Language:</label>
       <input id="language-choice" class="form-control" type="text" placeholder="Language Name">
   </div>
   <div class="col-md-3 form-inline">
       <label for="slider">Proficiency:</label>
       <input class="proficiency-num" type="text" id="amount" readonly/>
   </div>
   <div class="col-md-2">
       <div id="slider"></div>
   </div>
   <div class="col-md-1 form-inline">
       <h4 class="btn control-btn btn-sm">Add</h4>
   </div>
</div>
<div class="row">
</div>