<div class="col-md-4 profile-left">
    <div class="row profpic">
        <div class="col-md-12">
            {% include 'codebook/get-profpic.html' with profile_user=profile_user %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>{{ profile_user.username }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>
                <icon class="fa fa-envelope-o"></icon>
                {{ profile_user.get_email }}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>
                <icon class="fa fa-github"></icon>
                {{ profile_user.get_git_profile_url }}</h5>
        </div>
    </div>
</div>
<div class="col-md-7">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#languages" role="tab" data-toggle="tab">
                <icon class="fa fa-code"></icon>
                Languages
            </a>
        </li>
        <li>
            <a href="#saved" role="tab" data-toggle="tab">
                <i class="fa fa-save"></i> Saved
            </a>
        </li>
        <li>
            <a href="#popular" role="tab" data-toggle="tab">
                <icon class="fa fa-angle-double-up"></icon> Popular
            </a>
        </li>
        <li>
            <a href="#recent" role="tab" data-toggle="tab">
                <i class="fa fa-clock-o"></i> Recent
            </a>
        </li>
        {% if view_my_profile == 'true' %}
            <li id="edit_my_profile_tab">
                <a href="#edit" role="tab" data-toggle="tab">
                    <i class="fa fa-gear"></i> Edit My Profile
                </a>
            </li>
        {% endif %}
    </ul>
    <!-- end Nav tabs -->

    <!-- Tab panes -->
    <div class="tab-content profile-tabs">
        <div class="tab-pane fade active in language-breakdown" id="languages">
            <h3>Languge Breakdown</h3>
            {% include 'codebook/profile-lang-list.html' %}
        </div>
        <div class="tab-pane fade" id="saved">
            <h2>{{profile_user.get_username}}'s Saved Files</h2>
            {% include 'codebook/profile-saved.html' %}
        </div>
        <div class="tab-pane fade" id="popular">
            <h2>{{profile_user.get_username}}'s Popular Repositories</h2>
            {% include 'codebook/profile-popular.html' %}
        </div>
        <div class="tab-pane fade" id="recent">
            <h2>{{profile_user.get_username}}'s Recent Repositories</h2>
            {% include 'codebook/profile-recent.html' %}
        </div>
        <div class="tab-pane fade" id="edit">
            <h2>Edit My Profile</h2>
            <h4>Rate your language skill level from 1 to 10.</h4>
            {% include 'codebook/profile-edit-profile.html' %}
        </div>
    </div>
    <!-- end Tab panes -->
</div>