{% extends "base.html" %}
{% block title %}Profile: {{ profile_user.username }}{% endblock %}

{% block stylesheets %}
    {% load staticfiles %}
    <link href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" rel="stylesheet">
{% endblock stylesheets %}

{% block header %}
{% endblock header %}

{% block main %}
    <div class="row profile-info">
    {% include 'codebook/profile-info.html' %}
    </div>
{% endblock main %}

{% block collapse-all %}
{% endblock collapse-all %}


{% block scripts %}
<script src = "{% static "js/rate-credibility.js" %}"></script>
{% endblock scripts %}