<ul class="skill-list">
    <li class="skill">
        <h5>Java</h5>
        <progress class="skill" max="100" value="50">
        </progress>
    </li>
    <li class="skill">
        <h5>C++</h5>
        <progress class="skill" max="100" value="75">
        </progress>
    </li>
    <li class="skill">
        <h5>Python</h5>
        <progress class="skill" max="100" value="25">
        </progress>
    </li>
    <li class="skill">
        <h5>C</h5>
        <progress class="skill" max="100" value="50">
        </progress>
    </li>
    <li class="skill">
        <h5>Matlab</h5>
        <progress class="skill" max="100" value="75">
        </progress>
    </li>
    <li class="skill">
        <h5>Bash</h5>
        <progress class="skill" max="100" value="25">
        </progress>
    </li>
</ul>
<!-- TODO: the stuff above is temporary -->
<!--
<ul class="skill-list">
    % for rating in rating_list %}
        <li class="skill">
        <h5>{ rating.language.name }}</h5>
        <progress class="skill" max="10" value="rating.proficiency"></progress>
        </li>
    % endfor %}
    -->
</ul>