{% load staticfiles %}
<!-- start repository list row-->
<div class="row top-padded" id="repository-list-container">
<div class="col-md-12">

<!-- TODO: everything above this comment and below the static usage comment should be deleted eventually -->

<ol class="repository-list" id="repo-list">
    {% for repo in repos %}
        <li id="repo{{ repo.id }}">
            {% include 'codebook/repository-combined.html' %}
        </li>
    {% endfor %}
</ol>

<!-- end repository list -->
</div>
</div>
<!-- end repository list row-->


<script src="{% static "js/bootstrap-rating-input.min.js" %}" type="text/javascript"></script>
<script src = "{% static "js/ratings.js" %}"></script>