{% load staticfiles %}
<script src="{% static "js/bootstrap-rating-input.min.js" %}" type="text/javascript"></script>

<div class="container repository">
    <ol id="repo-parts-{{ repo.repo_id }}">
        <li id="repo-header-{{ repo.repo_id }}">
            <div class="row repository-header">
                <div class="col-md-1">
                    <!-- should have a link to the repository -->
                    <h4 class="glyphicon glyphicon-expand repo-toggle-button" id="repo-toggle-button-{{ repo.repo_id }}"
                        data-item-id="{{ repo.repo_id }}"></h4>
                </div>
                <div class="col-md-2">
                    <a href="{{ repo.get_url }}"><h4>{{ repo.get_name }}</h4></a>
                </div>
                <div class="col-md-1">
                        {% if starred == False %}
                            <h4 id="star-status-{{ repo.repo_id }}" data-item-id="{{ repo.repo_id }}" class="glyphicon glyphicon-star star-status"></h4>
                        {% else %}
                            <h4 id="star-status-{{ repo.repo_id }}" data-item-id="{{ repo.repo_id }}" class="glyphicon glyphicon-star-empty star-status"></h4>
                        {% endif %}
                </div>
                <div class="col-md-1">
                        {% if watched == False %}
                            <h4 id="watch-status-{{ repo.repo_id }}" data-item-id="{{ repo.repo_id }}" class="glyphicon glyphicon-eye-open watch-status"></h4>
                        {% else %}
                            <h4 id="watch-status-{{ repo.repo_id }}" data-item-id="{{ repo.repo_id }}" class="glyphicon glyphicon-eye-close watch-status"></h4>
                        {% endif %}
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-2">
                    <h4>{{ repo.get_creator }}</h4>
                </div>
                <div class="col-md-1">
                    <!-- TODO: setup profile images -->
                    <h4>{% include 'codebook/get-profpic.html' with id=repo.creator.user.id %}</h4>
                </div>
            </div>
            <!-- end repository header top thingy -->
        </li>
        <li class="repo-body" id="repo-body-{{ repo.repo_id }}">
            <div class="row repository-file-view">
                <!-- TODO: setup file explorer -->
                <div class="col-md-3 repository-file-explorer">
                    this is where the file explorer will be
                </div>
                <div class="col-md-9 repository-file">
                    this is where the code will be
                </div>
            </div>
            <!-- end file view -->

            <div class="row tags">
                <div class="col-md-10">
                    <div class="btn-group-sm">
                        {% for tag in repo.tags %}
                            <ol class="tag-list" id="tag-list{{ repo.repo_id }}">
                                <!-- endorsed tags have x's next to them (toggle to unendorse) unendorsed tags have check -->
                                <li id="tag{{ tag.id }}">
                                    <button class="btn btn-sm tag-btn">
                                        <span class="tag-text">{{ tag.text }}</span>
                                        {% if tag.is_endorsed == 'true' %}
                                            <span class="glyphicon glyphicon-ok"></span>
                                        {% else %}
                                            <span class="glyphicon glyphicon-remove"></span>
                                        {% endif %}
                                    </button>
                                </li>
                            </ol>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-1 tag-list">
                    <button type="submit" class="btn btn-sm control-btn">Add Tag</button>
                </div>
            </div>
            <!-- end tags -->
            <!-- TODO get ratings working (make average read only)-->
            <!-- begin ratings -->
            <div class="row ratings">
                <div class="col-md-2">
                    <h4>Difficulty</h4>
                </div>
                <div class="col-md-1">
                    <h6>Average Rating:</h6>
                </div>
                <div class="col-md-3">
                    <div class="stars starrr" data-rating="{{ repo.difficulty }}"></div>
                </div>
                <div class="col-md-1">
                    <h6>Your Rating:</h6>
                </div>
                <div class="col-md-3">
                    <div class="stars starrr" data-rating="0"></div>
                </div>
            </div>

            <ol class="repo-comment-list" id="repo-comment-list-{{ repo.repo_id }}">
                {% for comment in repo.comments.all %}
                    <li id="comment{{ comment.id }}">
                        {% include 'codebook/comment.html' %}
                    </li>
                {% endfor %}
            </ol>

            <!-- end comment list -->
            <div class="row repository-footer">
                <form method="POST" id="post-repo-comment-form-{{ repo.repo_id }}" class="post-repo-comment-form"
                      data-item-id="{{ repo.repo_id }}" role="form"
                      action="{% url 'comment' 'repo' source repo.repo_id %}">

                    <div class="col-md-9 col-lg-offset-1">
                        <div id="the_post{{ repo.repo_id }}">
                            <tr>
                                <th><label for="id_text">{{ comment_form.text.label }}</label></th>
                                <td>
                                    {{ comment_form.errorlist }}
                                    <input id="repo-post-text-{{ repo.repo_id }}" maxlength="400" name="text" pla
                                           ceholder="Say something..." required="True" type="text"/></td>
                            </tr>
                            {% csrf_token %}
                        </div>
                    </div>
                    <div class="col-md-1">
                        <input type="submit" class="btn control-btn" value="Comment">
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </li>
    </ol>
</div>
