{% extends "base.html" %}
{% block title %}Codebook: Saved Files{% endblock %}

{% block stylesheets %}
    {% load staticfiles %}
{% endblock stylesheets %}

{% block nav-left %}
    {% include 'codebook/nav-buttons.html' with active='saved' %}
{% endblock %}

{% block header %}
    <div class="row jumbotron lang-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-offset-2 col-md-8 centered-text">
                    <h1>Saved Files</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock header %}
{% block stream %}
    {% include 'codebook/file-list.html' %}
{% endblock stream %}