<div class="row jumbotron lang-main">
    <div class="container-fluid" id="search-panel">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 centered-text">
                <h1>Code In Real Life</h1>

                <h3><span>Choose </span><span id="language-choice">a Language</span><span> to Get Started</span></h3>
            </div>
        </div>
        <form role="form" action="{% url 'search' %}" method="get">
        <div class="row languages">
            <div class="col-md-offset-1 col-md-1">
                <!--begin different-->
                <input class="form-control" name="langinput" type="hidden" value="java"> 
                <h1><i class="lang-btn icon-prog-java"><button type="submit"></button></i></h1>
                <!-- end different -->
            </div>
            <div class="col-md-offset-1 col-md-1">
                <h1><a href="{% url 'search' %}"><i class="lang-btn icon-prog-js02"></i></a></h1>
            </div>
            <div class="col-md-offset-1 col-md-1">
                <h1><a href="{% url 'search' %}"><i class="lang-btn icon-prog-js02"></i></a></h1>
            </div>
            <div class="col-md-offset-1 col-md-1">
                <h1><a href="{% url 'search' %}"><i class="lang-btn icon-prog-ruby"></i></a></h1>
            </div>
            <div class="col-md-offset-1 col-md-1">
                <h1><a href="{% url 'search' %}"><i class="lang-btn icon-prog-rails"></i></a></h1>
            </div>
        </div>
        <div class="row languages">
            <div class="col-md-offset-2 col-md-1">
                <h1><a href="{% url 'search' %}"><i class="lang-btn icon-prog-nodejs02"></i></a></h1>
            </div>
            <div class="col-md-offset-1 col-md-1">
                <h1><a href="{% url 'search' %}"><i class="lang-btn icon-prog-python"></i></a></h1>
            </div>
            <div class="col-md-offset-1 col-md-1">
                <h1><a href="{% url 'search' %}"><i class="lang-btn icon-prog-django"></i></a></h1>
            </div>
            <div class="col-md-offset-1 col-md-1">
                <h1><a href="{% url 'search' %}"><i class="lang-btn icon-prog-php02"></i></a></h1>
            </div>
            <div class="col-md-offset-1 col-md-1">
                <h1><a href="{% url 'search' %}"><i class="lang-btn icon-prog-cplusplus"></i></a></h1>
            </div>
        </div>
        <div class="row languages">
            <div class="col-md-offset-1 col-md-1 centered-text">
                <h1><a href="{% url 'search' %}"><i class="lang-btn icon-prog-csharp"></i></a></h1>
            </div>
            <div class="col-md-offset-1 col-md-1">
                <h1><a href="{% url 'search' %}"><i class="lang-btn icon-prog-objc"></i></a></h1>
            </div>
            <div class="col-md-offset-1 col-md-1">
                <h1><a href="{% url 'search' %}"><i class="lang-btn icon-prog-matlab"></i></a></h1>
            </div>
            <div class="col-md-offset-1 col-md-1">
                <h1><a href="{% url 'search' %}"><i class="lang-btn icon-prog-aspnet"></i></a></h1>
            </div>
            <div class="col-md-offset-1 col-md-1">
                <h1><a href="{% url 'search' %}"><i class="lang-btn icon-prog-bash02"></i></a></h1>
            </div>
        </div>
        </form>
        
        <div class="row">
            <div class="col-md-offset-2 col-md-8 centered-text top-padded">
                <h3>Or Start With Something More Specific</h3>
            </div>
        </div>
        
       <div class="row">
            <form role="form" action="{% url 'search' %}" method="get">
                <div class="col-md-7 col-md-offset-1">
                    {{searchform.text}}
                </div>
                <div class="col-md-2 dropdown">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default search-type-dropdown"> 
                            <!--dropdown-toggle search-type-dropdown" data-toggle="dropdown">-->
                            <span class="selection">Search Type</span>
                        </button>
                        {{searchform.types}}
                        <!--button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></bu
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Language</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Repository</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tag</a></li>
                        </ul-->
                    </div>
                </div>
                <div class="col-md-1">
                    <input type="submit" class="btn control-btn" value="Search">
                </div>
            </form>
        </div>
 
        
        <!--div class="row">
            <form role="form" action="{% url 'search' %}">
                <div class="col-md-7 col-md-offset-1">
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-2 dropdown">
                    <div class="btn-group">
                            <span class="selection">Search Type</span>
                        </button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Language</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Repository</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tag</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-1">
                    <input type="submit" class="btn control-btn" value="Search">
                </div>
            </form>
        </div-->
    </div>
</div>
