{% extends "base.html" %}
{% block title %}Codebook: Sign In{% endblock %}

{% block stylesheets %}
    {% load staticfiles %}
{% endblock stylesheets %}

{% block nav-left %}
{% endblock %}

{% block nav-right %}
{% endblock nav-right %}

{% block header %}
    <div class="row jumbotron lang-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-offset-2 col-md-8 centered-text">
                    <h1>
                        <span>Sign In</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
{% endblock header %}

{% block stream %}

    <div class="row">
        <div class="col-md-offset-2 col-md-8 centered-text">
            <h3>Sign In with your Codebook account</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8 centered-text">

            <form class="form-signin" role="form">
                <input type="email" class="form-control" placeholder="Email" required autofocus>
                <input type="password" class="form-control" placeholder="Password" required>

                <div class="col-sm-offset-1 col-sm-10">
                    <label class="checkbox">
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <div class="btn-group btn-block">
                    <a class="btn btn-lg control-btn btn-block" href="{% url 'news' %}">Sign In</a>
                </div>
                <!--<button class="btn btn-lg btn-info btn-block" type="submit">Sign up</button>-->
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8 centered-text">
            <h3>Or, Sign In with your GitHub account</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4 centered-text">
            <a class="btn btn-block btn-social btn-lg btn-github">
                <i class="fa fa-github-square"></i>
                Sign in with GitHub
            </a>
        </div>
    </div>
{% endblock stream %}